body {
    background-color: red;
}

div {
    width: 80%;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}
 
@media (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block; 
        vertical-align: top; 
    }

    img {
        max-height: 30vh; 
    }
}


@media (min-width: 998px) {
    div {
        width: 30%;
    }
}
